body{
font-family: Arial, sans-serif;
background:#0f172a;
color:white;
margin:0;
}

header{
text-align:center;
padding:60px;
background:#1e293b;
}

section{
padding:40px;
}

.card{
background:#334155;
padding:20px;
border-radius:10px;
width:200px;
}
/* Подсветка выбранной карточки */
.active-card {
  border: 2px solid #0d6efd; /* синий цвет Bootstrap */
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.profile-photo {
  width: 150px;       /* размер фото */
  height: 150px;      /* квадратное */
  object-fit: cover;  /* обрезка по центру */
  border-radius: 50%; /* круглая форма */
  border: 3px solid #0d6efd; /* синий бордер */
}
.horizontal-nav {
  background-color: #1e293b;
  padding: 10px 0;
}

.nav-links {
  list-style: none;
  display: flex; /* Выстраивает пункты в одну строку */
  justify-content: center; /* По центру */
  gap: 30px; /* Расстояние между кнопками */
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  transition: background 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #0d6efd;
  color: white;
  border-radius: 5px;
}
