body{
font-family: Arial, sans-serif;
background:#0f172a;
color:white;
margin:0;
}

header{
text-align:center;
padding:60px;
background:#1e293b;
}

section{
padding:40px;
}

.card{
background:#334155;
padding:20px;
border-radius:10px;
width:200px;
}
